<!-- <video autoplay muted loop id="my-video">
    <source src="../../assets/video-temporary/lallin.mp4" type="video/mp4">
</video> -->
<app-background-video></app-background-video>
<div fxLayoutAlign="center center" fxFlexFill class="main-login-page-div" (ngSubmitt)="onSubmit()">
    <mat-card fxFlex="30">
        <section> <h1 class="md-display-3">ALL IN</h1> </section> 
        <section> <h2 class="md-display-1">E-Sports</h2> </section>
        <div>
            <div *ngIf="errorMSG">
                {{errorMSG}}
            </div>
        </div>
        <form fxLayoutAlign="stretch" fxLayout="column" class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field >
            <input id="username-input" matInput placeholder="Username" FormControlName="name">
            </mat-form-field>
          
            <mat-form-field >
                <input id="password-input" matInput type="passwrod" placeholder="Password" FormControlName="password">
              </mat-form-field>
              <button id="login-button" mat-raised-button type="Submit">Login</button>
          </form>
          <button onclick="redirectToSignUp()">Sign Up</button>
    </mat-card>
</div>
