<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <app-user-profile></app-user-profile>
    </mat-sidenav>
    <mat-sidenav-content style="opacity:90%">
        <video id="my-video" muted loop autoplay oncanplay="this.muted=true" oncanplay="this.play()" onloadedmetadata="this.muted=true">
            <source src="../../assets/video-temporary/lallin.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>

        <mat-toolbar class="toolbar">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
            <!-- SEARCH BAR ON TOP -->
            <span>
          <!-- <mat-icon aria-hidden="false" aria-label="search bar icon">search</mat-icon> -->
        </span>
        </mat-toolbar>
        <app-exploregames></app-exploregames>
        <h1 class="match-game-header">CURRENT MATCH</h1>
        <div class="bottom-container">
            <div class="match-game-box">
                <mat-card class="match-game-entry">
                    <img class="teamImage" src="{{Game?.opponents[0]?.opponent?.image_url}}">
                    <img class="teamImage" src="{{Game?.opponents[1]?.opponent?.image_url}}">
                    <div>
                        {{Game?.name}}
                    </div>
                    <div>{{Game?.official_stream_url}}</div>
                </mat-card>
            </div>

            <!-- THE FOLLOWING IS NOT QUITE WORKING - WILL FIGURE OUT LATER IF NEEDED -->
            <!-- <div class="match-game-box">
            <h2>New Games</h2>
            <mat-card class="match-game-entry"></mat-card>
          </div> -->
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>