.sidenav-container {
    height: 100%;
}

.sidenav-container,
.toolbar,
.bottom-container,
.match-game-container {
    background-color: #121212;
}

.match-game-header {
    opacity: 99.9%;
    margin-top: 20px;
    filter: drop-shadow(0 5px 3px black);
    color: rgba(255, 255, 255, 1);
    font-size: 30px;
    padding-left: 20px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#my-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: blur(20px)
}

h3 {
    color: rgba(255, 255, 255, .39);
}

h1 {
    color: rgba(255, 255, 255, .87);
}

.sidenav {
    width: 300px;
    background: rgba(18, 18, 18, 0.9);
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.popular-game-wrapper {
    max-height: 300px;
    /* border: 1px solid #ddd; */
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}


/* Make it visible so users can scroll */

.popular-game-wrapper::-webkit-scrollbar {
    width: 0;
}

.popular-game-wrapper .popular-game-entry {
    min-width: 212px;
    height: 212px;
    line-height: 110px;
    text-align: center;
    background-color: #2e2e2e;
    color: rgba(255, 255, 255, .60);
    margin-right: 10px;
    border-radius: 10px;
}

.lol {
    background-image: url("../../assets/league-of-legends.jpg");
    background-size: cover;
}

.csgo {
    background-image: url("../../assets/csgo.jpg");
    background-size: cover;
}

.dota2 {
    background-image: url("../../assets/dota2.jpg");
    background-size: cover;
}

.active-matches-wrapper {
    max-height: 120px;
    border: 1px solid #ddd;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.active-matches-wrapper .active-games-entry {
    min-width: 110px;
    height: 110px;
    line-height: 110px;
    text-align: center;
    background-color: #ddd;
    margin-right: 2px;
}

.bottom-container {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-container {
    position: relative;
    height: 585px;
    overflow-y: auto;
}

.match-game-container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.match-game-box {
    height: 90%;
    width: 90%;
    color: white;
    position: relative;
    overflow-y: auto;
}

.match-game-box::-webkit-scrollbar {
    width: 0;
}

.match-game-entry {
    height: 30rem;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: #25262c;
    color: white;
    text-align: center;
}

.game-title {
    margin: auto;
    font-size: 20pt;
    color: rgba(255, 255, 255, .37);
}

.teamImage {
    width: 50px;
    height: auto;
    padding: 10px
}

.main-content {
    padding-top: 1rem;
    margin: auto;
    font-size: 20pt;
    color: rgba(255, 255, 255, .37);
}

.choiceButton {
    background-color: #1e1f24;
}

.mat-form-field-underline {
    background-color: #121212 !important;
}

.teamChoiceGroup {
    padding: 10px;
}

.mat-button-toggle-checked {
    background-color: rgba(26, 26, 26, 0.9);
}

.mat-button-toggle {
    margin-left: 10px;
    margin-right: 10px;
}

.submitButton {
    background-color: #121212;
}

.submitButton:disabled {
    color: rgba(255, 255, 255, .37);
}

.mat-button-toggle-group {
    border: 0px;
}

.explore-popular,
.popular-game-wrapper {
    margin-left: 5%;
}

.example-full-width {
    width: 500px;
}

.username {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

 ::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.bottom-container {
    opacity: 99%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgba(18, 18, 18, 0.9);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.teamImage1 {
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 10%;
}

.teamImage2 {
    float: right;
    width: 100px;
    height: 100px;
    margin-right: 10%;
}

.teamImage {
    width: 100px;
    height: 100px;
}

.number-of-games,
.game-date,
.team-name-container {
    color: rgba(255, 255, 255, .60)
}

.game-date {
    padding-top: 35px;
}

.game-title-container,
.team-names {
    color: rgba(255, 255, 255, .87);
    font-size: 20px;
    margin: auto;
}