<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">

        <!-- CHANGE TO THE USER'S SELECTED PROFILE PIC FOR LINKUP -->
        <div style="width: 100%; display: flex; justify-content: center; margin-top: 30px;">
            <img src="../../assets/tempImage/big-esports-event.jpg" alt="" style="height: 150px; width: 150px; border-radius: 50%;">
        </div>
        <!-- CHANGE TO THE USER'S SELECTED USERNAME FOR LINKUP -->
        <div class="username">
            <h1>User-X</h1>
        </div>


        <mat-nav-list class="user-personal-information-list">
            <mat-list-item>
                <div class="personal">
                    <h3>Personal</h3>
                </div>
            </mat-list-item>
            <!-- THESE TWO SHOULD BE REPLACED WITH THE USER'S RANKING AND BALANCE -->
            <mat-card mat-list-item class="user-stats">Player Balance Goes Here</mat-card>
            <mat-card mat-list-item class="user-stats">Player Ranking Goes Here</mat-card>
        </mat-nav-list>

        <div class="user-personal-list-div">
            <mat-nav-list class="user-active-bets-list">
                <mat-list-item>
                    <div class="user-active-bets">
                        <h3>Active Bets</h3>
                    </div>
                </mat-list-item>
                <!-- NG FOR SHOULD GO HERE TO LOOP THROUGH BETS THE USER CURRENTLY HAS OPEN  -->
                <mat-card mat-list-item class="user-stats">Active Bets Go Here</mat-card>
                <mat-card mat-list-item class="user-stats">Active Bets Go Here</mat-card>
                <mat-card mat-list-item class="user-stats">Active Bets Go Here</mat-card>
                <mat-card mat-list-item class="user-stats">Active Bets Go Here</mat-card>
                <mat-card mat-list-item class="user-stats">Active Bets Go Here</mat-card>
                <mat-card mat-list-item class="user-stats">Active Bets Go Here</mat-card>
                <!-- END OF HARDCODED SAMPLE -->
            </mat-nav-list>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="toolbar">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
            <!-- SEARCH BAR ON TOP -->
            <span>
          <!-- <mat-icon aria-hidden="false" aria-label="search bar icon">search</mat-icon> -->
        </span>
        </mat-toolbar>
        <!-- Add Content Here -->
        <!-- HOME PAGE BEGINS HERE -->
        <div class="explore-popular">
            <h1>Explore Games</h1>
        </div>
        <!-- Write an NG-FOR to populate with available games when linking up -->
        <div class="popular-game-wrapper">
            <div class="popular-game-entry lol" [routerLink]="['/games','lol']"></div>
            <div class="popular-game-entry csgo" [routerLink]="['/games','csgo']"></div>
            <div class="popular-game-entry dota2" [routerLink]="['/games','dota2']"></div>
        </div>
        <!--  ACTIVE MATCHES  TODO: Write and NG-FOR to populate with current matches -->
        <!-- NOTE: THE APPERANCE IS GOING TO CHANGE. I JUST TO MAKE SURE THAT EVERYTHING PLUGS IN NICELY -->
        <!-- PS:   THE 'BOTTOM CONTAINER WILL BE SHIFTED UP TO MATCH THE AESTHETIC OF THE DESIGN' -->
        <br>
        <h1 class="match-game-header" *ngIf="Games[0]?.videogame[0].slug=='league-of-legends'">Active Matches - League of Legends</h1>
        <h1 class="match-game-header" *ngIf="Games[0]?.videogame[0].slug=='cs-go'">Active Matches- Counter-Strike: Global Offensive</h1>
        <h1 class="match-game-header" *ngIf="Games[0]?.videogame[0].slug=='dota-2'">Active Matches - Dota 2</h1>
        <div class="bottom-container">
            <div class="match-game-container">
                <div class="match-game-box">
                    <div *ngFor="let game of Games;">
                        <div *ngIf="game.opponents[0]?.opponent?.image_url && game?.opponents[1]?.opponent?.image_url">
                            <mat-card [routerLink]="['/match',game._id]" class="match-game-entry">
                                <mat-card-title *ngIf="game?.videogame[0].slug=='league-of-legends'">League of Legends</mat-card-title>
                                <mat-card-title *ngIf="game?.videogame[0].slug=='cs-go'">Counter-Strike: Global Offensive</mat-card-title>
                                <mat-card-title *ngIf="game?.videogame[0].slug=='dota-2'">Dota 2</mat-card-title>
                                <div>
                                    <img class="teamImage" src="{{game?.opponents[0]?.opponent?.image_url}}">
                                    <img class="teamImage" src="{{game?.opponents[1]?.opponent?.image_url}}">
                                </div>
                                <span>{{game?.opponents[0]?.opponent?.name}} vs. {{game?.opponents[1]?.opponent?.name}}</span>
                            </mat-card>
                        </div>
                    </div>
                </div>
                <!-- THE FOLLOWING IS NOT QUITE WORKING - WILL FIGURE OUT LATER IF NEEDED -->
                <!-- <div class="match-game-box">
            <h2>New Games</h2>
            <mat-card class="match-game-entry"></mat-card>
          </div> -->
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>