<html>
    <body>
        <!-- BEGINNING OF THE SIDEBAR ON THE HOMEPAGE -->
        <div class="uiContainter">
            <mat-drawer-container class="userInfoContainer">
                <mat-drawer-content>
                    <div fxLayoutAlign="center" fxFlexFill>
                        <!-- THIS IS THE LAYOUT FOR THE USERNAME AND PROFILE PICTURE -->
                        <mat-card class="profile-image-name-container">
                                <img class="profileImage" mat-card-image src="../../assets/tempImage/big-esports-event.jpg" alt="" style="border-radius: 50%;" >
                            <mat-card-footer>
                                <mat-card-content>
                                    <h1 class="username" style="text-align: center;">User-X</h1>
                                </mat-card-content>
                            </mat-card-footer>
                        </mat-card>           
                    </div>
                </mat-drawer-content>
            </mat-drawer-container>
        </div>    
    </body>
</html>
