.sidenav-container {
    height: 100%;
}

.sidenav-container,
.toolbar,
.bottom-container,
.match-game-container {
    background-color: #121212;
}

.logout-button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.87);
    background: #550798;
    margin-left: 25px;
}

.homepage-button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.87);
    background: #550798;
}

h3 {
    color: rgba(255, 255, 255, .87);
}

h1 {
    color: rgba(255, 255, 255, .87);
}

.sidenav {
    width: 300px;
    background-color: #1e1e1e;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.popular-game-wrapper {
    max-height: 300px;
    /* border: 1px solid #ddd; */
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.personal {
    color: rgba(255, 255, 255, 1);
    padding-left: 10px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.user-active-bets {
    color: rgba(255, 255, 255, 1);
    padding-left: 10px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* Make it visible so users can scroll */

.popular-game-wrapper::-webkit-scrollbar {
    width: 0;
}

.popular-game-wrapper .popular-game-entry {
    min-width: 212px;
    height: 212px;
    line-height: 110px;
    text-align: center;
    background-color: #2e2e2e;
    color: rgba(255, 255, 255, .60);
    margin-right: 10px;
    border-radius: 10px;
}

.lol {
    background-image: url("../../assets/league-of-legends.jpg");
    background-size: cover;
}

.csgo {
    background-image: url("../../assets/csgo.jpg");
    background-size: cover;
}

.dota2 {
    background-image: url("../../assets/dota2.jpg");
    background-size: cover;
}

.active-matches-wrapper {
    max-height: 120px;
    border: 1px solid #ddd;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.active-matches-wrapper .active-games-entry {
    min-width: 110px;
    height: 110px;
    line-height: 110px;
    text-align: center;
    background-color: #ddd;
    margin-right: 2px;
}

.bottom-container {
    background-color: #121212;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-container {
    position: relative;
    height: 55%;
    overflow-y: auto;
}

.match-game-container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.match-game-box {
    height: 500px;
    color: white;
    position: relative;
    overflow-y: auto;
}

.match-game-box::-webkit-scrollbar {
    width: 0;
}

.match-game-entry {
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: #2E2E2E;
    color: white;
    text-align: center;
}

.teamImage {
    width: 50px;
    height: auto;
    padding: 10px
}

.user-stats {
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: #2E2E2E;
    color: rgba(255, 255, 255, .60);
}

.explore-popular,
.popular-game-wrapper,
.match-game-header {
    margin-left: 5%;
}

.example-full-width {
    width: 500px;
}

.username {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

 ::-webkit-scrollbar {
    width: 0;
    height: 0;
}